@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind color scheme notes:
  green-500: #22C55E
  orange-500: #F97316
  pink-600: #DB2777
*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  margin-bottom: 2em;
  margin-right: 2em;
  padding: 1em;
  min-height: 1em;

  border: 1px solid lightgray;
  border-bottom-right-radius: 25px;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
